.feature {
    font-family: Exo2;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    text-align: center;
}

.feature:not(:last-child) {
    margin-right: 15px;
}

.feature__image {
    width: 67px;
    height: 67px;
    margin-bottom: 20px;
}

.feature__title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.feature__description {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(132, 132, 132);
}

@media  screen and (max-width: 900px) {
    .feature__image {
        margin-top: 20px;
    }
    .feature {
        max-width: 100%;
    }
}