@import url(../landing/fonts.css);
* {
    padding: 0;
    margin: 0;
}

html,body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1440px;
}

.intro-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 20px;
    width: 100%;
    height: 600px;
}

.intro-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.intro-description-title {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Exo2';
    font-weight: bold;
    color: rgb(251, 134, 134);
}

.intro-description-subtitle {
    margin-bottom: 15px;
    font-size: 35px;
    font-family: 'Exo2';
    font-weight: 600;
    
    /* adding '...' if content doesn't fit */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.intro-description-content {
    width: 60%;
    letter-spacing: 2px;
    font-family: 'Exo2';
    color: rgb(132, 132, 132);
}

.intro-image {
    width: 30%;
    background-image: url(../landing/sources/bgintro.jpg);
    background-size: 100% 100%;
}