@import url(../landing/fonts.css);

* {
    padding: 0;
    margin: 0;
}

html,body {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.landing-page-wrapper {
    width: 100%;
    max-width: 1440px;
    height: 100%;
}


/* Header styles start */

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    max-height: 822px;
    background-image: url('../landing/sources/img/bg/bgindex.jpg');
    background-size: 100% 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 540px;
}

.header-content__title {
    margin-bottom: 30px;

    font-family: 'Exo2';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}

.header-content__play {
    opacity: 0.7;

    margin-bottom: 30px;
    width: 59px;
    height: 59px;
}

.header-content__try-now {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 109, 109);

    margin-bottom: 15px;
    border-radius: 2px;
    width: 150px;
    height: 40px;
}

.header-content__try-now span {
    font-family: Exo2;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.header-content__note {
    font-family: Exo2;
    font-weight: 400;
    font-size: 12px;
    color: rgb(132, 132, 132);
}

/* Media queries for header block styles */

@media screen and (max-width: 1020px) {

    .header {
        background-image: url('../landing/sources/img/bg/bgindexmd.jpg');
    }
}

@media screen and (max-width: 570px) {

    .header {
        background-image: url('../landing/sources/img/bg/bgindexsm.jpg');
    }
}

@media screen and (max-width: 400px) {

    .header-content__title {
        margin-right: 10px;
        margin-left: 10px;
    }
}

/* Header styles end */

/* Intro styles start */

.intro-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    max-height: 650px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
}

.description-wrapper {
    max-width: 600px;
}

.description__title {
    font-size: 14px;
    font-family: 'Exo2';
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 109, 109);
    letter-spacing: 1px;
}

.description__subtitle {
    margin-bottom: 30px;
    max-width: 490px;
    
    letter-spacing: 1px;
    font-size: 35px;
    font-family: 'Exo2';
    font-weight: 500;
    
    /* adding '...' if content doesn't fit */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.description__subtitle span {
    color: rgb(255, 109, 109);
}

.description__content {
    max-width: 500px;

    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 15px;
    font-family: 'Exo2';
    font-weight: 500;
    color: rgb(132, 132, 132);
}

.description__content p:first-child {
    margin-bottom: 30px;
}

.intro-container__image {
    width: 40%;
}

/* Media queries for intro block styles */

@media  screen and (max-width: 800px) {

    .intro-container__image {
        display: none;
    }

    .description {
        width: 100%;

        background-image: url('../landing/sources/img/bg/bgintro.jpg');
        background-size: 100% 100%;
    }

    .description-wrapper {
        margin: 10px 10px;
    }
    .description__title {
        text-align: center;
    }
    .description__subtitle {
        text-align: center;
    }
    .description__content {
        text-align: center;
    }
}

/* Intro styles end */

/* Features styles start */

.features {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    max-height: 669px;

    background-image: url('../landing/sources/img/bg/bgfeatures.jpg');
    background-size: 100% 100%;
}

.features-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1200px;
}

.features-content__title {
    font-size: 14px;
    font-family: 'Exo2';
    font-weight: 500;
    color: rgb(255, 109, 109);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.features-content__subtitle {
    margin-bottom: 80px;

    letter-spacing: 1px;
    text-align: center;
    font-size: 35px;
    font-family: 'Exo2';
    font-weight: 500;
}

.features-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

/* Media queries for features block styles */

@media  screen and (max-width: 1020px) {

    .features {
        background-image: none;
    }
}

@media  screen and (max-width: 900px) {

    .features-container {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .features-content__subtitle {
        margin-bottom: 0;
    }
}

@media  screen and (max-width: 550px) {

    .features {
        max-height: 750px;
    }
}

@media  screen and (max-width: 420px) {

    .features {
        max-height: 850px;
    }
    .features-container {
        width: auto;
        margin: 0 10px;
    }
}

/* Features styles end */

/* Description styles start */

.description-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
    max-height: 569px;
}

.images-container {
    position: relative;
    width: 40%;
}

.description-container__image {
    position: absolute;

    width: 100%;
    height: 100%;
}

.laptop {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 90%;
    transform: translate(-50%,-50%);
}

/* Media queries for description block styles */

@media  screen and (max-width: 800px) {

    .images-container {
        display: none;
    }

    .description-container__image {
        display: none;
    }
    .responsive-container {
        height: 100%;
        max-height: 569px;
    }
    .responsive-description {
        width: 100%;
        height: 100%;
        max-height: 569px;

        text-align: center;
        background-image: url('../landing/sources/img/bg/bgdescription.png');
        background-size: 100% 100%;
    }

}

/* Description styles end */

/* Co founders styles start */

.co-founders {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    max-height: 647px;

    background-image: url('../landing/sources/img/bg/bgclients.png');
    background-size: 100% 100%;
}

.co-founders-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;
    max-height: 500px;
}

.co-founder {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 300px;
    text-align: center;
}

.co-founder:not(:last-child) {
    margin-right: 15px;
}

.co-founder__image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.co-founder__name {
    font-family: Exo2;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.co-founder__position {
    margin-bottom: 20px;

    font-family: Exo2;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgb(255, 109, 109);
}

.co-founder__description {
    margin: 0 10px;

    font-family: Exo2;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: rgb(183, 181, 181);
}

.partners {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

.converse {
    width: 113px;
    height: 69px;
}

.levis {
    width: 109px;
    height: 53px;
}

.puma {
    width: 114px;
    height: 56px;
}

.nike {
    width: 95px;
    height: 34px;
}

.mango {
    width: 132px;
    height: 22px;
}

/* Media queries for co founders block styles */

@media screen and (max-width: 600px) {

    .co-founders {
        height: auto;
        max-height: none;
        background-image: none;
    }
    .co-founders-container {
        flex-direction: column;
        height: auto;
        max-height: none;
        margin-top: 20px;
    }
    .co-founder {
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
    }
    .co-founder:not(:last-child) {
        margin-right: 0;
    }
    .co-founder__image {
        width: 150px;
        height: 150px;
    }
    .co-founder__name {
        color: rgb(0, 0, 0);
    }
    .partners {
        flex-direction: column;
    }
    .partner__logo {
        margin-bottom: 30px;
    }
}

/* Co Founders styles end */

/* Other features styles start */

.other-features {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-image: none;
    background-color: rgb(246, 245, 243);
}

.other-features-content {
    max-width: 705px;
}

.other-features-title {
    margin-top: 70px;
}

.other-features-subtitle {
    margin-bottom: 40px;
}

.other-features__description {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    color: rgb(132, 132, 132);
    font-size: 14px;
    font-family: 'Exo2';
    font-weight: 500;
}

.browser {
    width: 100%;
    height: 100%;
    max-width: 772px;
    max-height: 353px;

    background-image: url('../landing/sources/img/browser.png');
    background-size: 100% 100%;
}

/* Media queries for other features block styles */

@media screen and (max-width: 550px) {

    .other-features {
        justify-content: center;
        height: 100%;
        max-height: 300px;
    }
    .other-features-title {
        margin-top: 20px;
    }
    .other-features-subtitle {
        margin-bottom: 20px;
    }
    .other-features__description {
        margin: 0 10px 10px 10px;
    }
    .browser {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .other-features {
        max-height: 410px;
    }
    
}

/* Other features styles start */

/* Form styles start */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    max-height: 370px;
    
    background-color: rgb(50, 57, 105);
}

.form__title {
    margin-top: 50px;

    font-size: 13px;
    font-family: 'Exo2';
    font-weight: 500;
    color: rgb(255, 109, 109);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form__subtitle {
    margin: 0 20px 80px 20px;

    letter-spacing: 1px;
    text-align: center;
    font-size: 35px;
    font-family: 'Exo2';
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.form-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    max-height: 80px;
}

.form__input {
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 40px;

    margin-right: 40px;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(168,170,188);
    border-width: 1px;

    font-family: Exo2;
    font-size: 13px;
    background-color: rgb(70, 76, 119);
    text-transform: uppercase;
    color: rgb(240, 240, 240);
    text-align: center;
}

.form__input:first-child {
    margin-left: 20px;
}

.form__input:focus {
    outline: none;
}

.form__input::placeholder {
    padding: 15px;

    text-align: start;
    color: rgb(240, 240, 240);
}

.form-trial {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 42px;
    margin-right: 36px;
}

.form-trial__image {
    position: absolute;
    bottom: 105%;
    left: 0%;
}

.form-trial__description {
    position: absolute;
    bottom: 170%;
    left: 15%;
    font-family: 'Exo2';
    font-size: 14px;
    color: rgb(240, 240, 240);
}

.form__button {
    width: 100%;
    height: 100%;

    border-radius: 3px;
    border-width: 0;

    color: rgb(255, 255, 255);
    background-color: rgb(255, 109, 109);
}

.form__terms {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    color: rgb(132, 132, 132);
    font-size: 15px;
    font-family: 'Exo2';
    font-weight: 500;
}

.terms__link:link {
    color: rgb(132, 132, 132);
}
.terms__link:visited {
    color: rgb(132, 132, 132);
}

/* Media queries for form block styles */

@media screen and (max-width: 600px) {

    .form {
        max-height: 600px;
    }
    .form__subtitle {
        margin: 0 10px 10px 10px;
    }
    .form-wrapper {
        flex-direction: column;
        justify-content: space-evenly;

        width: 90%;
        max-height: 430px;
    }
    .form__input {
        max-width: 100%;
        max-height: 55px;
        margin-right: 0;
    }
    .form__input:first-child {
        margin-left: 0;
    }
    .form__input:last-of-type {
        margin-bottom: 35px;
    }
    .form-trial {
        max-width: 100%;
        max-height: 55px;
        margin-right: 0;
    }
    .form-trial__image {
        bottom: 110%;
        left: 0%;
    }
    .form-trial__description {
        bottom: 160%;
        left: 5%;
    }
    .form__terms {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Form styles end */

/* Footer styles start */

.footer {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
    max-height: 335px;

    font-family: Exo2;
}

.categories-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 80%;
    max-height: 200px;
    margin-top: 80px;
    margin-left: 65px;
}

.footer__company {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
}

.company__description {
    letter-spacing: 1px;
    line-height: 1.6;
    color: rgb(132, 132, 132);
    font-size: 13px;
    font-weight: 500;
}

.company__logo {
    width: 103px;
    height: 47px;
    margin-bottom: 10px;
}

.footer__support {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}

.support__title {
    margin-bottom: 24px;
    font-weight: 500;
}

.footer__about-us {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}

.about-us__title {
    margin-bottom: 24px;
    font-weight: 500;
}

.footer__subscription {
    position: relative;
    width: 100%;
    max-width: 200px;
}

.subscription__title {
    margin-bottom: 24px;
    font-weight: 500;
}

.subscription__input {
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 40px;
    margin-bottom: 10px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(168,170,188);

    font-family: Exo2;
    font-size: 13px;
    background-color: rgb(246, 246, 246);
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.subscription__input:focus {
    outline: none;
}

.subscription__input::placeholder {
    text-align: start;
    padding: 15px;
}

.mail-button {
    position: absolute;
    top: 26%;
    left: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    max-width: 42px;
    max-height: 41px;

    border-radius: 3px;
    border: solid;
    border-width: 1px;
    border-color: rgb(168,170,188);
    
    background-color: rgb(255, 109, 109);
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list {
    list-style: none;
    letter-spacing: 1px;
    line-height: 1.6;
    color: rgb(132, 132, 132);
    font-size: 13px;
    font-weight: 500;
}

.footer__image {
    width: 327px;
    height: 335px;
}

/* Media queries for footer block styles */

@media screen and (max-width: 1280px) {

    .footer__image {
        display: none;
    }
}

@media screen and (max-width: 1070px) {

    .footer {
        max-height: 400px;
    }
    
}

@media screen and (max-width: 1062px) {

    .mail-button {
        top: 50%;
    }
    
}

@media screen and (max-width: 812px) {

    .mail-button {
        top: 41%;
    }
    
}

@media screen and (max-width: 565px) {

    .footer {
        max-height: 520px;
    }

    .mail-button {
        top: 50%;
    }

}

@media screen and (max-width: 500px) {

    .footer {
        max-height: 650px;
    }

}

/* Footer styles end */